<ion-header>
  <ion-toolbar color="primary">
    <ion-title style="text-align: center;">
      Lista de Equipamentos
    </ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content mode="ios" >
   <ng-container *ngFor="let Equipment of listEquipments">
     <ion-card style="border: solid 2px blue;">
      <ion-header>
        <div [ngSwitch]="Equipment.status">
          <ion-toolbar *ngSwitchCase="'confirmed'" color="success">
            <ion-title style="text-align: center;">
              Confirmado
            </ion-title>
          </ion-toolbar>
          <ion-toolbar *ngSwitchDefault color="warning">
            <ion-title style="text-align: center;">
              Pendente
            </ion-title>
          </ion-toolbar>
        </div>
      </ion-header>
       
      <ion-row>
        <ion-col size="7.5">
          <ion-row>
            <ion-col size="12">
              Nome: {{Equipment.nome}}
            </ion-col>
          </ion-row>
          <ion-row>
           <ion-col size="12">
             Tag: {{Equipment.tag}}
           </ion-col>
         </ion-row>
        </ion-col>
        <ion-col size="4" style="text-align: right;">
          <ion-button [disabled]="Equipment.status == 'confirmed'" (click)="confirmEquipment(Equipment.id)">
            <ion-text>
              Responder
            </ion-text>
          </ion-button>
        </ion-col>
      </ion-row>
     </ion-card>

   </ng-container>
   
   <ion-col size="12">
    <ion-button expand="block" (click)="endRoutes()" color="success">
      <ion-icon slot="start" name="qr-scanner"></ion-icon>
      Finalizar Rota
    </ion-button>
  </ion-col>
</ion-content>

<ion-footer>
  <ion-row>

    <ion-col size="6">
      <ion-button expand="full" (click)="openQRCodeReader()">
        <ion-icon slot="start" name="qr-scanner"></ion-icon>
        Abrir Scan
      </ion-button>
    </ion-col>

    <ion-col size="6">  
      <ion-button expand="full" (click)="logout()" color="danger">
        Logout
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>